version: "3.8"

networks:
  appnet:           
    driver: bridge

services:
  db:
    image: postgres:15
    container_name: opensanctions-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dev
    ports:
      - "5432:5432"
    networks:
      - appnet

  zavod:
    image: ghcr.io/opensanctions/opensanctions:latest
    container_name: zavod
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/dev
    volumes:
      - ./zavod:/app
    networks:
      - appnet

  web:
    image: ubuntu-web
    container_name: zavod-ui
    build:
      context: .
    restart: always
    depends_on:
      - db
    ports:
      - "80:3000"
    networks:
      - appnet
